html,body,#root {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/*맵뷰*/
.mapViewWrapper{
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
}
.full{
  width: 100%;
  height: 100%;
}
.drawerContainer{
  position: absolute;
  z-index: 2;
}
.drawerContainer > input{
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.puller{
  width: 30px;
  height: 6px;
  background-color: #bdbdbd;
  border-radius: 3px;
  position: absolute;
  top: 8px;
  left: calc(50% - 15px);
}
.drawerBox{
  background-color:#fff;
  position: absolute;
  top: -56px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  visibility: visible;
  right: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -7px 8px;
}
.css-1u2w381-MuiModal-root-MuiDrawer-root{
  position: inherit !important
}
.mapContainer{
  width: 100%;
  position: absolute;
  z-index: 1;
}
#map{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.datePickerWrapper{
  display: flex;
}
.datePicker{
  width:150px;
}
.datePicker input{
  font-size: 13px;
}

.myPos{
  width:15px;
  height:15px;
  background-color: #ff0000;
  border-radius: 30px;
  border: 1px solid #ffffff;
  box-shadow : 2px 2px 10px silver
}
/*로그인뷰*/
.authWrapper{
  position: relative; 
  width:100%;
  max-width:400px;
  margin: 0 auto;
}
.authWrapper .authSpan{
  margin-top: 20px;
  cursor:pointer;
  text-align: center;
}
.logo{
  position: relative;  
  left:50%;
  transform: translateX(-50%);
}

.loginForm{
  height:250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.loginForm > div{
  display: flex;
  flex-direction: column;
}
.loginForm input{
  margin-top:30px;
  height:50px;
  border: 1px solid #bdbdbd;
  border-radius: 20px;
  padding-left: 15px;
}
.loginForm input[type=submit]{
  height:45px;
  font-size:20px;
  background-color: #079FFF;
  border: 1px solid #079FFF;
  color: #ffffff;
  cursor:pointer;
}
.loginForm{
  height:500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.loginForm > div{
  display: flex;
  flex-direction: column;
}

.loginForm input[type=submit]{
  height:45px;
  font-size:20px;
  background-color: #079FFF;
  border: 1px solid #079FFF;
  color: #ffffff;
  cursor:pointer;
}
.socialWrap{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.socialWrap > *{
  width: 45%;
  border-radius: 20px;
  
  height: 30px;
  cursor:pointer;
}