@font-face {
  font-family: "Pretandard_m";
  src: url("./assets/font/Pretendard-Medium.otf") format("truetype");
}
input:focus {outline:none;}
html,body,#root {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Pretandard_m";
  letter-spacing: 1px;
}
.active{
  background-color: #C8DBFF !important;
}
.inactive{
  background-color: #ffffff !important;
}
/*맵뷰*/
.mapViewWrapper{
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
}
.full{
  width: 100%;
  height: 100%;
}
.drawerContainer{
  position: absolute;
  z-index: 2;
}
.drawerContainer > input{
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.puller{
  width: 30px;
  height: 6px;
  background-color: #bdbdbd;
  border-radius: 3px;
  position: absolute;
  top: 8px;
  left: calc(50% - 15px);
}
.drawerBox{
  background-color:#fff;
  position: absolute;
  top: -56px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  visibility: visible;
  right: 0;
  left: 0;
  background-color: #E7EBF0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -7px 8px;
}
.cardBox{
  background-color: #E7EBF0;
  height:100%;
  overflow: scroll;
}
.cardBox > div{
  width:95%;
  height: 120px;
  margin:0 auto;
  margin-bottom: 10px;
}

.cardInner{
  height:100px;
  padding: 10px 0 10px;
}
.cardInner > div{
  float: left;
}
.cardLeft{
  width:30%;
  max-width: 100px;
  height:100%;
}
.cardLeft > div{
  width: 70%;
  height: 70%;
  color: #ffffff;
  font-weight: bold;
  line-height: 2;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6297FF;
  border-radius: 10px;
}
.cardLeft > div > div{
  font-size: 13px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cardRight{
  width:60%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display:flex;
  flex-direction: column;
  
}
.cardRight > div{
  padding-bottom:5px ;
}
.cardRight > div:first-child{
  font-size: 12px;
}
.cardRight > div:last-child{
  font-size: 18px;
}
.css-1u2w381-MuiModal-root-MuiDrawer-root{
  position: relative !important;  
}
.mapviewContainer .searchContainer{
  width: 90%;
  
  min-width: 350px;
  position: fixed;
  z-index: 3;
  top: 5%;
  left: 50%;
  
  transform: translateX(-50%);
}
.mapviewContainer .searchContainer > div{
  height: 50px;
}
.mapviewContainer .searchContainer > div:last-child{
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.mapviewContainer .searchContainer > div:last-child::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.search{
  width: calc(98% - 48px);
  height: 48px;
  margin-right: 2%;
  float: left;
  border-radius: 8px;
  background-color: #FFFFFF;
}
.search > input[type=text]{
  padding:0 0 0 15px;
  border-radius: 8px;
  height: 100%;
  border:0;
  font-size: 15px;
}
.icon{
  width:48px;
  height: 48px;
  float:left;
  background-color: #6297FF;
  border-radius: 8px;
}
.icon > *{
  width: 100%;
  height: 100%;
  top:50%;
  lefT:50%;
  transform: translate(-50%,-50%);
}
.icon > * > *{
  width: 1.3em !important;
  height: 1.3em !important;
}
.mapviewContainer .searchContainer .categorys{
  height: 100%;
  width: 500px;
  
}
.mapviewContainer .searchContainer .category{
  
  height: 22px;
  padding: 8px;
  margin-left: 8px;
  margin-top: 10px;
  float: left;
  background: #FFF;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.mapviewContainer .searchContainer .categoryImg{
   height: 100%;
   padding-right: 5px;
}
.mapviewContainer .searchContainer .category > span{
  color: #6297FF;
  font-size: 14px
}
.mapContainer{
  width: 100%;
  position: absolute;
  z-index: 1;
}
#map{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.imageMarker{
  display: flex;  
  width: 66px;
  height: 60px;
  background-size: cover !important;
  background-position: center;
  background: url("./assets/img/marker1.png");
}
.imageMarker > div{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 13px;
}
.datePickerWrapper{
  display: flex;
}
.datePicker{
  width:150px;
}
.datePicker input{
  font-size: 13px;
}

.myPos{
  width:10px;
  height:10px;
  background-color: #E51B1C;
  border-radius: 30px;
  border: 2px solid #ffffff;
  box-shadow : 2px 2px 10px silver
}
/*로그인뷰*/
.authWrapper{
  position: relative; 
  width:100%;
  max-width:400px;
  margin: 0 auto;
}
.authWrapper .authSpan{
  margin-top: 20px;
  cursor:pointer;
  text-align: center;
}
.logo{
  position: relative;  
  left:50%;
  transform: translateX(-50%);
}

.loginForm{
  height:250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.loginForm > div{
  display: flex;
  flex-direction: column;
}
.loginForm input{
  margin-top:30px;
  height:50px;
  border: 1px solid #bdbdbd;
  border-radius: 20px;
  padding-left: 15px;
}
.loginForm input[type=submit]{
  height:45px;
  font-size:20px;
  background-color: #079FFF;
  border: 1px solid #079FFF;
  color: #ffffff;
  cursor:pointer;
}
.loginForm{
  height:500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.loginForm > div{
  display: flex;
  flex-direction: column;
}

.loginForm input[type=submit]{
  height:45px;
  font-size:20px;
  background-color: #079FFF;
  border: 1px solid #079FFF;
  color: #ffffff;
  cursor:pointer;
}
.socialWrap{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.socialWrap > *{
  width: 45%;
  border-radius: 20px;
  
  height: 30px;
  cursor:pointer;
}