html,body,#root {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.container{
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
}
.full{
  width: 100%;
  height: 100%;
}
.mapview_wrapper > div{
  float: left;
}
.mapview_wrapper > div:first-child{
  width:30%;
}
.mapview_wrapper > div:last-child{
  width:70%;
  
}
#map{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}