.homeViewWrapper {
  width: calc(100% - 30px);
  max-width: 100%;
  margin: 0 auto;
  margin-top: 90px;
  padding: 0 15px;
  margin-bottom: 108px;
}

/*title*/
.homeViewWrapper .title {
  width: 100%;
  padding-top: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.homeViewWrapper .title > .left {
  float: left;
  line-height: 130%;
}
.homeViewWrapper .title > .right {
  float: right;
}
.homeViewWrapper .imgInText1 {
  width: 20px;
  position: relative;
  top: 4px;
}
.homeViewWrapper .viewMore {
  font-size: 12px;
}
.homeViewWrapper .progressCircle {
  width: 62px;
  height: 62px;
  border-radius: 40px;
  background: conic-gradient(
    var(--primary) 0%,
    var(--primary) 100%,
    #ffffff 100%
  );
}
.homeViewWrapper .progressCircle:before {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  transform: translate(2px, 2px);
  background-color: #fff;
  border-radius: 40px;
}
.homeViewWrapper .progressCircle > img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
}

/*nav*/
.homeViewWrapper .nav {
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  height: 70px;
}
.homeViewWrapper .nav::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.homeViewWrapper .nav > div {
  height: 50px;
  float: left;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px 0;
}
.homeViewWrapper .nav .tag {
  height: 16px;
  padding: 10px 7px;
  font-size: 14px;
  margin-right: 10px;
  float: left;
  border-radius: 8px;
  border: 0;
  display: flex;
  align-items: center;
  font-family: "Pretandard_l";
  box-shadow: 0px 0px 10px #dcdcdc;
}
.homeViewWrapper .nav .tag.type1 {
  background-color: var(--primary);
  color: #fff;
}
.homeViewWrapper .nav .tag.type2.on {
  background-color: var(--primary70);
  color: #fff;
}
.homeViewWrapper .nav .tag.type2.off {
  background-color: #fff;
  color: var(--primary70);
  font-weight: 600;
}
.homeViewWrapper .nav .tag.type1 > span {
  font-weight: 600;
}
.homeViewWrapper .nav .tag.type1 > img {
  width: 15px;
}

/*article*/
.calculatorContainer,
.chungyakInfoContainer {
  box-shadow: 0px 0px 10px #dcdcdc;
  background-color: #fff;
  border-radius: 8px;
}
.calculatorContainer {
  padding: 25px 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.calculatorContainer .mainTitle {
  font-weight: bold;
  font-size: 20px;
  color: var(--primary);
  padding: 5px 0;
}
.calculatorContainer .subTitle {
  font-size: 12px;
  color: var(--gray50);
  font-family: "Pretandard_l";
}
.calculatorContainer .circles {
  padding-top: 20px;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
}
.calculatorContainer .circle {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  float: left;
  background-color: #f8f8f8;
  border: 1px solid var(--gray10);
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculatorContainer .circle > img {
  width: 24px;
  height: 26px;
}

.fillRecommendContainer {
  box-shadow: 0px 0px 10px #dcdcdc;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
}
.fillRecommendContainer .left {
  line-height: 130%;
}
.fillRecommendContainer .left img {
  position: relative;
  top: 3px;
  left: 3px;
}
.fillRecommendContainer .left > div {
  font-size: 14px;
  color: var(--gray50);
}
.fillRecommendContainer .left > div span {
  color: var(--primary);
  font-weight: bold;
}
.fillRecommendContainer .right {
  width: 42px;
  height: 42px;
}
.fillRecommendContainer .waveBox {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid var(--gray10);
  border-radius: 25px;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.fillRecommendContainer .waveBox > div:first-child {
  font-size: 12px;
  text-align: center;
  color: var(--primary);
  font-weight: bold;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}
.fillRecommendContainer .wave {
  opacity: 0.4;
  position: absolute;
  left: -25px;
  bottom: -70px; /*edit here*/
  background: var(--primary30);
  width: 100px;
  height: 100px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  transition-timing-function: ease;
  animation: rotate 2000ms infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
.chungyakInfoContainer {
  padding: 10px 20px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.chungyakInfoContainer .infoOption {
  background-color: #f8f8f8;
  border-radius: 8px;
  height: 30px;
  padding: 11px 15px;
  margin: 7px 0;
  display: flex;
  align-items: center;
}
.chungyakInfoContainer .infoOption > img {
  width: 32px;
}
.chungyakInfoContainer .infoOption > span {
  padding-left: 10px;
}

/*CustomData*/
.dataContainer {
  height: 494px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.dataContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.dataContainer > div {
  display: flex;
}
.dataContainer .card {
  width: 160px;
  min-width: 160px;
  height: 237px;
  margin-right: 15px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #e4e4e4;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.dataContainer .card > div:not(.data_img) {
  margin: 0 10px;
}
.dataContainer .data_img {
  width: 100%;
  height: 125px;
  position: relative;
  border-radius: 8px 8px 0 0;
  background: url("../img/apt_ex.jfif");
  background-size: cover;
}
.dataContainer .like_count {
  position: relative;
  top: 12px;
  left: 12px;
  border-radius: 8px;
  background-color: #fff;
  width: 45px;
  height: 17px;
  display: flex;
  justify-content: center;
}
.dataContainer .like_count > span {
  float: left;
  font-size: 10px;
  color: var(--primary);
  position: relative;
  top: 2px;
}
.dataContainer .like_count > span:first-child {
  width: 7px;
  height: 9px;
  position: relative;
  top: 4px;
  margin-right: 3px;
  background-color: var(--primary);
  clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% calc(100% - 3px),
    calc(100% - 4px) 100%,
    4px 100%,
    0 calc(100% - 3px),
    0 0
  );
}
.dataContainer .data_type {
  color: var(--gray50);
  font-size: 10px;
  font-family: "Pretandard_m";
}
.dataContainer .left {
  float: left;
  width: 110px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 0;
}
.dataContainer .right {
  float: right;
  height: 40px;
  display: flex;
  align-items: center;
}
.dataContainer .like {
  width: 20px;
  height: 24px;
  clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% calc(100% - 6px),
    calc(100% - 9px) 100%,
    9px 100%,
    0 calc(100% - 6px),
    0 0
  );
}
.dataContainer .like.on {
  background-color: var(--primary);
}
.dataContainer .like.off {
  background-color: #e8e8e8;
}
.dataContainer .data_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}
.dataContainer .data_price {
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--gray50);
}
.dataContainer .data_price > img {
  position: relative;
  top: 4px;
  margin-right: 3px;
}
.dataContainer .data_period {
  height: 24px;
  background-color: #efefef;
  font-size: 12px;
  color: var(--gray50);
  margin-bottom: 8px !important;
  border-radius: 8px;
  display: flex;
  justify-content: left;
  align-items: center;
  letter-spacing: 0;
}
.dataContainer .data_period > img {
  position: relative;
  margin: 0 5px;
}

/*media*/
@media (max-width: 400px) {
  .nav .tag {
    font-size: 12px;
  }
}
@media (max-width: 350px) {
  .nav .tag {
    font-size: 11px;
  }
  .calculatorContainer .circle {
    width: 50px;
    height: 50px;
  }
  .calculatorContainer .circle > img {
    width: 18px;
    height: 20px;
  }
}
