@font-face {
  font-family: "Pretandard_m";
  src: url("../font/Pretendard-Regular.otf") format("truetype");
}
input:focus {
  outline: none;
}
input::placeholder {
  font-family: "Pretandard_m";
}
html,
body,
#root {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Pretandard_m";
  letter-spacing: 1px;
  background-color: #f8f8f8;
}
button {
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}
a {
  text-decoration: none;
}
#root > div:first-child {
  height: calc(100% - 88px);
}
.toast {
  position: fixed;
  top: 25%;
  left: 50%;
  padding: 11px;
  min-width: 220px;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: #6297ff;
  opacity: 0.8;
  color: #fff;
  border-radius: 8px;
  border: 0;
  text-align: center;
}

.footer {
  width: 100%;
  height: 88px;
  border-radius: 24px 24px 0 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px -7px 8px;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-around;
}
.footer > a {
  padding-top: 10px;
  width: 40px;
}
.footer img {
  width: 100%;
}
