:root {
  --primary: #6297ff; /* var(--primary)   */
  --primary70: #91b6ff; /* var(--primary70) */
  --primary30: #c0d6ff; /* var(--primary30) */
  --primary10: #eff5ff; /* var(--primary10) */
  --dark100: #333333; /* var(--dark100)   */
  --gray50: #858585; /* var(--gray50)    */
  --gray30: #c2c2c2; /* var(--gray30)    */
  --gray10: #ebebeb; /* var(--gray10)    */
}

@font-face {
  font-family: "Pretandard_m";
  src: url("../font/Pretendard-Regular.otf") format("truetype");
}
@font-face {
  font-family: "Pretandard_l";
  src: url("../font/Pretendard-Light.otf") format("truetype");
}
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
input:focus {
  outline: none;
}
input,
button,
select,
input::placeholder {
  font-family: "Pretandard_m";
}
input::placeholder {
  color: var(--gray30);
  font-size: 16px;
}
html,
body,
#root {
  margin: 0;
  overflow: auto;
  font-family: "Pretandard_m";
  letter-spacing: 1px;
  background-color: #f8f8f8;
}

button {
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}
a {
  text-decoration: none;
}
.toast {
  position: fixed;
  top: 25%;
  left: 50%;
  padding: 11px;
  min-width: 220px;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: var(--primary);
  opacity: 0.8;
  color: #fff;
  border-radius: 8px;
  border: 0;
  text-align: center;
}
/*header*/
.header {
  width: calc(100% - 30px);
  height: 50px;
  position: absolute;
  top: 0;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 15px 0 15px;
}
.inMap {
  filter: brightness(38.5%);
  background: linear-gradient(
    rgba(51, 51, 51, 0.5) 0%,
    rgba(255, 255, 255, 0) 40%
  );
}
.header > .center,
.header > .left,
.header > .right {
  width: 33%;
}
.center {
  text-align: center;
  position: relative;
  top: 15px;
  font-size: 16px;
  font-weight: bold;
}
.img_container {
  width: 48px;
  height: 48px;
}
.alarm {
  float: right;
}
.like {
  float: right;
}
.img_container img {
  width: 48px;
  height: 48px;
}
/*footer*/
.footer {
  width: 100%;
  height: 88px;
  border-radius: 24px 24px 0 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px -7px 8px;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-around;
}
.footer > a {
  padding-top: 10px;
  width: 40px;
}
.footer img {
  width: 100%;
}
