/*맵뷰*/
.mapViewWrapper {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

/*mapviewContainer > drawerContainer*/
.drawerContainer {
  position: absolute;
  z-index: 2;
}
.drawerContainer > input {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.puller {
  width: 30px;
  height: 2px;
  background-color: #bdbdbd;
  border-radius: 3px;
  position: absolute;
  top: 8px;
  left: calc(50% - 15px);
}
.drawerBox {
  position: absolute;
  height: 70px;
  top: -70px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  visibility: visible;
  right: 0;
  left: 0;
  background-color: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -7px 8px;
}
.drawerBoxSort {
  width: 95%;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-direction: row-reverse;
}
.drawerBoxSort span {
  font-size: 12px;
  height: 18px;
  position: relative;
  top: -4px;
  color: #8e8e8e;
}
.drawerBoxSort img {
  width: 18px;
  height: 18px;
}
.cardBox {
  background-color: #f8f8f8;
  height: 100%;
  overflow: scroll;
}
.cardBox > div {
  width: 95%;
  height: 160px;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
}
.cardInner {
  height: 100%;
  padding: 0 15px 0 15px;
}
.cardInner > div {
  float: left;
}
.cardLeft {
  width: calc(100% - 110px);
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  padding: 22px 0 22px 0;
}
.cardLeft .apt_place {
  color: #8e8e8e;
  font-size: 12px;
}
.cardLeft .apt_name {
  float: left;
  font-size: 18px;
  padding: 8px 0 13px 0;
}
.cardLeft .apt_name img {
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.cardLeft .apt_name .HOUSE_NM {
  width: calc(100% - 35px);
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardLeft .apt_period {
  background-color: #f8f8f8;
  max-width: 200px;
  border-radius: 8px;
  color: #8e8e8e;
  font-size: 12px;
  padding: 10px;
  line-height: 150%;
}
.cardLeft .apt_period img {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  position: relative;
  top: 1px;
}
.cardRight {
  width: 95px;
  height: calc(100% - 22px);
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}
.cardRight .likeContainer {
  display: flex;
  justify-content: space-between;
}
.cardRight .like_count {
  float: left;
  width: 40px;
  position: relative;
  top: 15px;
}
.cardRight .like_count > span {
  float: left;
  font-size: 12px;
  color: #8e8e8e;
}
.cardRight .like_count > span:first-child {
  width: 8px;
  height: 10px;
  position: relative;
  top: 2px;
  margin-right: 3px;
  background-color: var(--primary30);
  clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% calc(100% - 3px),
    calc(100% - 4px) 100%,
    4px 100%,
    0 calc(100% - 3px),
    0 0
  );
}
.cardRight .like {
  width: 25px;
  float: left;
  height: 30px;
  clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% calc(100% - 8px),
    calc(100% - 12px) 100%,
    12px 100%,
    0 calc(100% - 8px),
    0 0
  );
}
.cardRight .like.on {
  background-color: var(--primary);
}
.cardRight .like.off {
  background-color: var(--gray30);
}

.cardRight .apt_img {
  width: 95px;
  height: 95px;
  position: relative;
  border-radius: 8px;
  background: url("../img/apt_ex.jfif");
  background-size: cover;
}
.css-1u2w381-MuiModal-root-MuiDrawer-root {
  position: relative !important;
}

/*mapviewContainer > searchContainer*/
.searchContainer {
  width: 90%;
  min-width: 350px;
  position: fixed;
  z-index: 3;
  top: 100px;
  left: 50%;

  transform: translateX(-50%);
}
.searchContainer > div {
  height: 50px;
}
.searchContainer > div:last-child {
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.searchContainer > div:last-child::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.search {
  width: calc(98% - 48px);
  height: 48px;
  margin-right: 2%;
  float: left;
  border-radius: 8px;
  background-color: #ffffff;
}
.search > input[type="text"] {
  padding: 0 0 0 15px;
  border-radius: 8px;
  height: 100%;
  border: 0;
  font-size: 15px;
}
.search > input[type="text"]::placeholder {
  color: #e8e8e8;
}

.icon {
  width: 48px;
  height: 48px;
  float: left;
  background-color: var(--primary);
  border-radius: 8px;
}
.icon > * {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon > * > * {
  width: 1.3em !important;
  height: 1.3em !important;
}
.categorys {
  height: 100%;
  width: 470px;
}
.category {
  height: 22px;
  padding: 8px;
  margin-left: 8px;
  margin-top: 10px;
  float: left;
  background: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.categoryImg {
  width: 15px;
  height: 15px;
  padding-right: 5px;
}
.category > span {
  color: var(--primary);
  font-size: 14px;
  font-family: "Pretandard_l";
}

/* mapviewContainer > mapContainer */
.mapContainer {
  width: 100%;
  position: absolute;
  z-index: 1;
}
#map {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.imageMarker {
  display: flex;
  width: 66px;
  height: 60px;
  background-size: cover !important;
  background-position: center;
  background: url("../img/marker1.png");
}
.imageMarker > div {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  color: #ffffff;
  font-size: 13px;
}
.datePickerWrapper {
  display: flex;
}
.datePicker {
  width: 150px;
}
.datePicker input {
  font-size: 13px;
}

.myPos {
  width: 10px;
  height: 10px;
  background-color: #e51b1c;
  border-radius: 30px;
  border: 2px solid #ffffff;
  box-shadow: 2px 2px 10px silver;
}

.active {
  border: 1px solid var(--primary);
}
.inactive {
  border: 0;
}

.active_category {
  background-color: var(--primary10);
}
.inactive_category {
  background-color: #fff;
}
