/*맵뷰*/
.mapViewWrapper{
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

/*mapviewContainer > drawerContainer*/
.drawerContainer{
  position: absolute;
  z-index: 2;
}
.drawerContainer > input{
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.puller{
  width: 30px;
  height: 6px;
  background-color: #bdbdbd;
  border-radius: 3px;
  position: absolute;
  top: 8px;
  left: calc(50% - 15px);
}
.drawerBox{
  background-color:#fff;
  position: absolute;
  top: -56px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  visibility: visible;
  right: 0;
  left: 0;
  background-color: #F8F8F8;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -7px 8px;
}
.cardBox{
  background-color: #F8F8F8;
  height:100%;
  overflow: scroll;
}
.cardBox > div{
  width:95%;
  height: 160px;
  margin:0 auto;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
}
.cardInner{
  height:100%;
  padding: 0 15px 0 15px;
}
.cardInner > div{
  float: left;
  
}
.cardLeft{
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 22px 0 22px 0;
}
.cardLeft .apt_place{
  color: #8E8E8E;
  font-size: 12px;
  font-weight: bold;
}
.cardLeft .apt_name{
  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  padding: 8px 0 13px 0;
}
.cardLeft .apt_period{
  background-color: #F8F8F8;
  max-width: 200px;
  border-radius: 8px;
  color: #8E8E8E;
  font-size: 12px;
  padding: 10px;
  line-height: 150%;
}
.cardRight{
 width: 30%;
 height: calc(100% - 22px);
 padding-bottom: 22px;
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 justify-content:space-between ;
}
.cardRight .like{
  width: 25px;
  height: 30px;
  clip-path: polygon(0 0, 0 0, 100% 0, 100% calc(100% - 8px), calc(100% - 12px) 100%, 12px 100%, 0 calc(100% - 8px), 0 0)
}
.cardRight .like.on{
  background-color: #6297FF;
}
.cardRight .like.off{
  background-color: #E8E8E8;
}

.cardRight .apt_img{
  width: 95px;
  height: 95px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  background: url("../img/apt_ex.jfif");
  background-size: cover;
}
.css-1u2w381-MuiModal-root-MuiDrawer-root{
  position: relative !important;  
}

/*mapviewContainer > searchContainer*/
.searchContainer{
  width: 90%;
  
  min-width: 350px;
  position: fixed;
  z-index: 3;
  top: 5%;
  left: 50%;
  
  transform: translateX(-50%);
}
.searchContainer > div{
  height: 50px;
}
.searchContainer > div:last-child{
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.searchContainer > div:last-child::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.search{
  width: calc(98% - 48px);
  height: 48px;
  margin-right: 2%;
  float: left;
  border-radius: 8px;
  background-color: #FFFFFF;
}
.search > input[type=text]{
  padding:0 0 0 15px;
  border-radius: 8px;
  height: 100%;
  border:0;
  font-size: 15px;
}
.icon{
  width:48px;
  height: 48px;
  float:left;
  background-color: #6297FF;
  border-radius: 8px;
}
.icon > *{
  width: 100%;
  height: 100%;
  top:50%;
  lefT:50%;
  transform: translate(-50%,-50%);
}
.icon > * > *{
  width: 1.3em !important;
  height: 1.3em !important;
}
.categorys{
  height: 100%;
  width: 500px;
  
}
.category{
  
  height: 22px;
  padding: 8px;
  margin-left: 8px;
  margin-top: 10px;
  float: left;
  background: #FFF;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.categoryImg{
   height: 100%;
   padding-right: 5px;
}
.category > span{
  color: #6297FF;
  font-size: 14px
}

/* mapviewContainer > mapContainer */
.mapContainer{
  width: 100%;
  position: absolute;
  z-index: 1;
}
#map{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.imageMarker{
  display: flex;  
  width: 66px;
  height: 60px;
  background-size: cover !important;
  background-position: center;
  background: url("../img/marker1.png");
}
.imageMarker > div{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 13px;
}
.datePickerWrapper{
  display: flex;
}
.datePicker{
  width:150px;
}
.datePicker input{
  font-size: 13px;
}

.myPos{
  width:10px;
  height:10px;
  background-color: #E51B1C;
  border-radius: 30px;
  border: 2px solid #ffffff;
  box-shadow : 2px 2px 10px silver
}

.active{  
  border: 1px solid #6297FF;
}
.inactive{
  border: 0;
}

.active_category{
  background-color: #EFF5FF;
}
.inactive_category{
  background-color: #FFF;
}