/*로그인뷰*/
.authWrapper {
  position: relative;
  width: calc(100% - 30px);
  padding: 0 15px 5px 15px;
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.authWrapper > div {
  width: calc(100% - 30px);
}
.authWrapper input {
  color: var(--gray50);
  font-size: 16px;
}
.authWrapper input:not(.signinRadio):not(.pwd1):not(.pwd2),
.authWrapper button,
.authWrapper .passwordForm {
  margin: 5px 0;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border: 0;
  border-radius: 8px;
  padding-left: 15px;
  letter-spacing: 1px;
}
.authWrapper input[type="button"],
.authWrapper input[type="submit"],
.authWrapper button {
  color: #ffffff !important;
  cursor: pointer;
  padding-left: 0 !important;
}

.authWrapper input[type="submit"] {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  width: 100%;
}
.authWrapper input[type="button"] {
  background-color: var(--primary30);
  border: 1px solid var(--primary30);
  width: 100%;
}
/*.logoContainer*/
.logoContainer {
  margin-top: 100px;
}
.logo {
  width: 100%;
  max-width: 75px;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*.SignupContainer*/
.signupDescription {
  position: absolute;
  height: 40%;
  display: flex;
  align-items: center;
}
.signupDescription > span {
  color: var(--gray50);
  font-size: 20px;
}
.signupContainer {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.signupForm > div {
  display: flex;
  flex-direction: column;
}
.passwordForm {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}
.passwordForm input {
  border: 0;
  width: calc(100% - 54px);
}
.passwordVisibiliyBtn {
  width: 24px;
  padding: 0 15px;
  position: relative;
  top: 10px;
}
.passwordVisibiliyBtn > img {
  width: 100%;
}

/*.signinContainer*/
.signinContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.signinForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.signinForm > div {
  display: flex;
  flex-direction: column;
}

.radioContainer {
  flex-direction: row-reverse !important;
  padding-top: 5px;
  padding-bottom: 15px;
}
.radioContainer input[type="radio"] {
  width: 12px;
  position: relative;
  top: -1.5px;
}
.radioContainer label {
  color: var(--gray50);
  font-size: 12px;
  padding-left: 1px;
}

/*.etcContainer*/
.etcContainer {
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}
.etcContainer span {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}

/*.socialContainer*/
.socialContainer {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
button.kakao {
  background-color: #fee500;
  color: #000 !important;
}
button.naver {
  background-color: #06be34;
  color: #fff !important;
}
button.google {
  background-color: #fff;
  color: #000 !important;
}
.socialContainer > button > img {
  float: left;
  position: absolute;
  left: 45px;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  z-index: 1;
}
button.kakao > img {
  width: 31px;
}
button.naver > img {
  width: 35px;
}
button.google > img {
  width: 18px;
}
.signupForm .validation {
  font-size: 12px;
  padding: 5px 0px 7px 15px;
  float: left;
}
.validation > span {
  position: relative;
  top: -1.5px;
}
.signupForm .validation:before {
  content: " ";
  background-size: 12px 12px;
  width: 18px;
  height: 12px;
  display: inline-block;
}
.signupForm #suc {
  color: #51d486;
  max-width: 200px;
}
.signupForm #suc:before {
  background: url("../img/success.png") no-repeat center;
  background-size: 12px 12px;
}
.signupForm #err {
  color: #ff6651;
}
.signupForm #err:before {
  background: url("../img/error.png") no-repeat center;
  background-size: 12px 12px;
}
.securityGrade {
  float: right;
  width: calc(100% - 200px);
  padding: 5px 15px 0 0;
  display: flex;
  flex-direction: row-reverse;
}
.securityGrade > span {
  float: right;
  width: 12px;
  height: 12px;
  font-size: 12px;
  margin: 0 1px;
  border-radius: 10px;
  position: relative;
  top: 1px;
}
.securityGrade > span:last-child {
  width: 25px;
  background-color: #f8f8f8 !important;
  top: 0px;
}
#high {
  color: #ade9ba;
  background-color: #ade9ba;
}
#mid {
  color: #ffe456;
  background-color: #ffe456;
}
#low {
  color: #ffafaf;
  background-color: #ffafaf;
}
#gray {
  color: var(--primary10);
  background-color: var(--primary10);
}
