img {
  width: 100%;
}
.SurveyViewWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.SurveyViewWrapper .header {
  width: calc(100% - 30px);
  height: 50px;
  padding: 0 15px;
  font-size: 20px;
  color: var(--gray50);
  padding-top: 15vh;
}
.SurveyViewWrapper .progressBar {
  width: calc(100% - 30px);
  height: 5px;
  margin: 30px 15px;
  background-color: var(--gray10);
  border-radius: 30px;
}
.SurveyViewWrapper .innerProgressBar {
  height: 100%;
  background-color: var(--primary);
  border-radius: 30px;
}
.SurveyViewWrapper .slick-arrow {
  position: fixed;
  bottom: 30px;
  width: 24px;
}
.SurveyViewWrapper .slick-arrow.slick-prev {
  left: 30px;
}
.SurveyViewWrapper .slick-arrow.slick-next {
  right: 30px;
}
.SurveyViewWrapper .slick-slider {
  height: calc(85vh - 180px);
}
.SurveyViewWrapper .slick-list,
.slick-track,
.slick-slide {
  height: 100%;
}
.SurveyViewWrapper .content {
  width: calc(100% - 30px) !important;
  padding: 0 15px;
}
.SurveyViewWrapper .title {
  font-size: 20px;
  height: 15vh;
  line-height: 130%;
}
.SurveyViewWrapper .title::before {
  content: "Q. \A";
  font-weight: bold;
  white-space: pre;
}
.SurveyViewWrapper .title > div:first-child {
  font-weight: bold;
}
.SurveyViewWrapper .title > span {
  font-weight: 600;
  color: var(--primary);
}
.SurveyViewWrapper .article {
  width: 100%;
}
.SurveyViewWrapper .article > button,
.SurveyViewWrapper .article > input {
  height: 48px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 15px 0px;
  border-radius: 8px;
  background-color: #fff;
}
.SurveyViewWrapper .article > button {
  width: 44%;
  margin: 8px 3%;
  color: var(--gray50);
}
.SurveyViewWrapper .article > input {
  width: calc(100% - 10px);
  margin: 8px 0;
  padding-left: 10px;
  border: 0;
  font-size: 16px;
  color: var(--gray50);
}
.SurveyViewWrapper .article > div {
  width: 98%;
  height: 270px;
  margin: 15px 1%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 15px 0px;
  border: 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.SurveyViewWrapper .article > div > div {
  width: 100%;
  height: 25px;
}
.SurveyViewWrapper .article > div > div > button {
  width: calc(50% - 18px);
  height: 100%;
  margin: 0 8px;
  float: left;
  border-radius: 8px;
  border: 1px solid var(--gray30);
  color: var(--gray50);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.SurveyViewWrapper .article > div:first-child {
  height: 48px;
  font-size: 16px;
  color: var(--gray50);
  justify-content: center;
}
.SurveyViewWrapper .submit {
  position: absolute;
  width: calc(100vw - 30px);
  bottom: 20px;
}
.SurveyViewWrapper .submit > button {
  margin: 5px 0;
  width: 100%;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border: 0;
  border-radius: 8px;
  letter-spacing: 1px;
  background-color: var(--primary);
  color: #fff;
  font-size: 16px;
}
.SurveyViewWrapper .on {
  border: 1px solid var(--primary) !important;
  color: var(--primary) !important;
}
/*media*/
@media (max-height: 750px) {
  .SurveyViewWrapper .header {
    padding-top: 5vh;
  }
  .SurveyViewWrapper .progressBar {
    margin: 20px 15px;
  }
  .SurveyViewWrapper .slick-slider {
    height: calc(95vh - 150px);
  }
  .SurveyViewWrapper .slick-arrow {
    bottom: 15px;
  }
}
