@font-face {
  font-family: "Pretandard_m";
  src: url("../font/Pretendard-Medium.otf") format("truetype");
}
input:focus {outline:none;}
html,body,#root {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Pretandard_m";
  letter-spacing: 1px;
}
.active{
  box-shadow: rgb(99, 99, 99, 0.4) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.inactive{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.active_category{
  background-color: #EFF5FF;
}
.inactive_category{
  background-color: #FFF;
}